#SBT
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#Scala
.scala_dependencies
.worksheet

#Eclipse
.project
.classpath
.settings/
bin/

#IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

#Gradle
.gradle/
build/

#Git
.cache

#Minecraft
run/